<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/menucreation" method="post">
      <input type="text" name="storeName" placeholder="Name of your business" value="">
      <input type="text" name="dish1Name" placeholder="Name of your first dish" value="">
      <input type="text" name="dish1Des" placeholder="Description of your first dish" value="">
      <input type="text" name="dish1Price" placeholder="Price of your first dish" value="">
      <input type="text" name="dish2Name" placeholder="Name of your second dish" value="">
      <input type="text" name="dish2Des" placeholder="Description of your second dish" value="">
      <input type="text" name="dish2Price" placeholder="Price of your second dish" value="">
      <input type="text" name="dish3Name" placeholder="Name of your third dish" value="">
      <input type="text" name="dish3Des" placeholder="Description of your third dish" value="">
      <input type="text" name="dish3Price" placeholder="Price of your third dish" value="">
      <button type="submit" name="button">Submit</button>


    </form>

  </body>
</html>
