body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

.colored {
  background-color: #D1EA9D;
  /* background-color: #C0CAAD; */
  /* color: #fff; */
  color: #3F236E;
}

.title-font {
  color: #654C4F !important;
}

.white {
  background-color: #fff;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

/* title section */

.main-title {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-emoji {
  width: 100%;
  position: relative;
  /* left: 20%; */
  /* border-radius: 50%; */
  /* transform: rotate(25deg); */
}

.title-text {
  padding-top: 40px;
}

@media (max-width: 991px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

}

/* features section */

#features {
  position: relative;
}

.features-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.features-content {
  color: #8f8f8f;
  /* width:15rem; */
  padding: 0 20px;
}

.features-icon {
  font-size: 50px;
  color: #ef8172;
  padding: 15px;
}

.features-icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.cards {
  padding: 3% 2%;
}

.dog-name {
  font-weight: 700;
}

.pricing-plan {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

/* cta section */

.cta-title {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  padding: 100px 200px 0;
}

/* footer section */

#footer {
  padding-bottom: 50px;
}

.footer-icon {
  padding: 100px 10px 0;
}

.footer-text {
  color: #8f8f8f;
  padding: 2%;
}
