<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/6fad3641f2.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/myorders.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>AuntiesAssemble</title>
  <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>
  <!-- navbar -->
  <div class="colored" id="title">
    <nav class='navbar navbar-expand-lg navbar-dark'>
      <a class="navbar-brand title-font" id="title1 " href="/">AuntiesAssemble</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      </div>

    </nav>
  </div>
  <div class="header1">
    About Us
  </div>
  <div class="content1">
    <h2> Our Mission</h2>
    <p> Since the UAE has a huge population of low-educated expats, ‘Aunties Assemble’ aims to allow the unemployed expat spouses/mothers to offer their cooking services to customers in the local area on a small scale.</p>
    <p>The website aims to allow the unemployed people to increase their living standards by earning some extra income on a casual basis and use their home-economic skills and monetize them. It will aid the unemployed expats to increase their income
      and living standards. For the local residents, it aims to provide a greater range of culinary options according to their traditional/cultural food tastes. Thirdly, it is for tourists to enjoy home-made traditional dishes and experience the
      culture and food to its fullest.</p>

    <h2> Meet the Founders</h2>
    <div class="card-deck">
      <div class="card">
        <img src="images/runyao1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Runyao Fan </h5>
          <p class="card-text">"AuntiesAssemble binds people who share the love for food."</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Class of 2022</small>
        </div>
      </div>
      <div class="card">
        <img src="images/usman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Usman Ali </h5>
          <p class="card-text"> "AuntiesAssemble is a striving for a noble cause while giving the customers a feel of home-cooked food"</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Class of 2022</small>
        </div>
      </div>
      <div class="card">
        <img src="images/muyan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Muyan Jiang</h5>
          <p class="card-text">"AuntiesAssemble will be your solid friend. Rest assured my dear aunties and enjoy your cooking :)"</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Class of 2022</small>
        </div>
      </div>
      <div class="card">
        <img src="images/omar1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Omar Hussein</h5>
          <p class="card-text"> "AuntiesAssemble combines the best of delivery technology with a strong social benefit to local communities"</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Class of 2022</small>
        </div>
      </div>
    </div>


  </div>

  <!-- <p>Created by Muyan Jiang, Omar Hussein, Runyao Fan, Usman Ali</p> -->

  <!-- footer -->
  <footer class="white" id="footer">
    <i class="fab fa-twitter footer-icon"></i>
    <i class="fab fa-facebook footer-icon"></i>
    <i class="fab fa-instagram footer-icon"></i>
    <i class="fas fa-envelope footer-icon"></i>

    <p class="footer-text">© Copyright 2020 AuntiesAssemble</p>

  </footer>
</body>

</html>
